:root {
  --main-text-color: #212121;
  --background-color: #ffffff;
  --additional-text-color: #757575;
  --btn-color: #2196f3;
  --btn-active-color: #188ce8;
  --bg-overlay-color: rgba(33, 150, 243, 0.9);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --container-color: #eeeeee;
  --logo-text-color: #000000;
  --section-background-color: #f5f4fa;
  --secondary-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --capture-bg-color: rgba(47, 48, 58, 0.8);
  --main-footer-background-color: #2f303a;
  --line-color: #ececec;
  --icon-color: #afb1b8;
  --secondary-font-family: 'Raleway', sans-serif;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}